@use '../helpers' as *;

.button {
    display: inline-flex;
    justify-content: center;
    min-width: rem(137);
    padding: rem(18) rem(24);  
    font-size: rem(18);
    color: var(--color-gray-60);
    background-color: var(--color-dark);
    white-space: nowrap;
    border: var(--border);
    border-radius: rem(12);

    @include laptop {
        min-width: rem(103);
        padding: rem(14) rem(20);
        font-size: rem(14);
        border-radius: rem(8);
    }

    @include hover {
        color: var(--color-accent);
        border-color: var(--color-accent);
        background-color: var(--color-dark-10);
    }

    &--accent {
        color: var(--color-dark);
        background-color: var(--color-accent);
        border-color: var(--color-accent);
        border-width: 2px;
        border-radius: rem(8);
        font-weight: 500;
    }

    &--dark-gray {
        background-color: var(--color-dark-10);
    }
}